@import "tailwindcss";
@import "../styles/UnidadPage.css";
@import "../styles/LoginPage.css";
@import "../styles/EditarTemaModal.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* UnitCard Desing*/
@layer components{
  .card{
    @apply
    grid
    gap-6
    md:grid-cols-2
    lg:grid-cols-4;
  }
  .unit-card{
    @apply 
    block 
    rounded-2xl
    border 
    border-slate-200
    bg-white
    p-6
    shadow-sm
    transition;
  }

  .unit-card:hover{
    @apply
    -translate-y-1
    shadow-md;
  }

  .unit-card-label{
    @apply
    text-sm
    font-semibold
    text-blue-600;
  }

  .unit-card-title{
    @apply
    mt-3
    text-xl
    font-bold
    text-slate-900;
  }

  .unit-card-description{
    @apply
    mt-3
    text-sm 
    leading-6
    text-slate-600;
  }

  .unit-card-action{
    @apply
    mt-6
    text-sm
    font-semibold
    text-slate-600;
  }
}